In [15]:
import pandas as pd

In [16]:
# Leer dataset
data = pd.read_csv(r'..\data\raw\dataset.csv', index_col=0)

In [17]:
# Eliminar columnas innececasias
data = data.loc[:, 'Open':'Close']
data

                               Open      High       Low     Close
Datetime
2021-02-07 18:00:00-05:00  13623.75  13647.75  13605.25  13639.25
2021-02-07 19:00:00-05:00  13638.00  13664.50  13625.50  13656.25
2021-02-07 20:00:00-05:00  13656.00  13687.25  13652.75  13679.75
2021-02-07 21:00:00-05:00  13679.50  13684.25  13666.75  13676.25
2021-02-07 22:00:00-05:00  13676.00  13681.75  13667.75  13673.00
...                             ...       ...       ...       ...
2023-06-22 11:00:00-04:00  15081.75  15181.00  15080.25  15158.50
2023-06-22 12:00:00-04:00  15158.75  15160.00  15110.75  15126.75
2023-06-22 13:00:00-04:00  15126.75  15156.00  15082.50  15153.50
2023-06-22 14:00:00-04:00  15153.50  15191.00  15135.50  15189.50
2023-06-22 15:00:00-04:00  15189.50  15201.75  15148.25  15194.00

[13796 rows x 4 columns]

In [18]:
# Caluclar retornos al cierre en tanto por uno
data['Return'] = data['Close'] / data['Close'].shift(1) - 1
data

                               Open      High       Low     Close    Return
Datetime
2021-02-07 18:00:00-05:00  13623.75  13647.75  13605.25  13639.25       NaN
2021-02-07 19:00:00-05:00  13638.00  13664.50  13625.50  13656.25  0.001246
2021-02-07 20:00:00-05:00  13656.00  13687.25  13652.75  13679.75  0.001721
2021-02-07 21:00:00-05:00  13679.50  13684.25  13666.75  13676.25 -0.000256
2021-02-07 22:00:00-05:00  13676.00  13681.75  13667.75  13673.00 -0.000238
...                             ...       ...       ...       ...       ...
2023-06-22 11:00:00-04:00  15081.75  15181.00  15080.25  15158.50  0.005039
2023-06-22 12:00:00-04:00  15158.75  15160.00  15110.75  15126.75 -0.002095
2023-06-22 13:00:00-04:00  15126.75  15156.00  15082.50  15153.50  0.001768
2023-06-22 14:00:00-04:00  15153.50  15191.00  15135.50  15189.50  0.002376
2023-06-22 15:00:00-04:00  15189.50  15201.75  15148.25  15194.00  0.000296

[13796 rows x 5 columns]

In [19]:
# Definir las medias móviles
medias_moviles = [8, 21, 30, 50, 100, 200]

# Calcular las medias móviles
for ma in medias_moviles:
    columna = 'MA_' + str(ma)  # Nombre de la columna de la media móvil
    data[columna] = data['Close'].rolling(window=ma).mean()

data

,Open,High,Low,Close,Return,MA_8,MA_21,MA_30,MA_50,MA_100,MA_200
Datetime,,,,,,,,,,,
2021-02-07 18:00:00-05:00,13623.75,13647.75,13605.25,13639.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 19:00:00-05:00,13638.00,13664.50,13625.50,13656.25,0.001246,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 20:00:00-05:00,13656.00,13687.25,13652.75,13679.75,0.001721,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 21:00:00-05:00,13679.50,13684.25,13666.75,13676.25,-0.000256,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 22:00:00-05:00,13676.00,13681.75,13667.75,13673.00,-0.000238,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-22 11:00:00-04:00,15081.75,15181.00,15080.25,15158.50,0.005039,15038.53125,15034.250000,15066.900000,15135.865,15184.7625,15017.154751
2023-06-22 12:00:00-04:00,15158.75,15160.00,15110.75,15126.75,-0.002095,15055.28125,15034.142857,15062.875000,15133.350,15184.3250,15019.519751
2023-06-22 13:00:00-04:00,15126.75,15156.00,15082.50,15153.50,0.001768,15071.90625,15039.297619,15059.891667,15131.930,15184.1175,15022.372251
2023-06-22 14:00:00-04:00,15153.50,15191.00,15135.50,15189.50,0.002376,15097.71875,15046.511905,15058.575000,15132.770,15184.5075,15025.662251
2023-06-22 15:00:00-04:00,15189.50,15201.75,15148.25,15194.00,0.000296,15122.34375,15054.285714,15058.358333,15133.345,15185.0275,15028.866001

In [20]:
# Calcular las derivadas
for ma in medias_moviles:
    columna_ma = 'MA_' + str(ma)
    columna_derivada = 'Derivada_' + str(ma)
    data[columna_derivada] = data[columna_ma].diff()

data.loc[:, 'Derivada_8':'Derivada_200'].describe()

data

,Open,High,Low,Close,Return,MA_8,MA_21,MA_30,MA_50,MA_100,MA_200,Derivada_8,Derivada_21,Derivada_30,Derivada_50,Derivada_100,Derivada_200
Datetime,,,,,,,,,,,,,,,,,
2021-02-07 18:00:00-05:00,13623.75,13647.75,13605.25,13639.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 19:00:00-05:00,13638.00,13664.50,13625.50,13656.25,0.001246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 20:00:00-05:00,13656.00,13687.25,13652.75,13679.75,0.001721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 21:00:00-05:00,13679.50,13684.25,13666.75,13676.25,-0.000256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 22:00:00-05:00,13676.00,13681.75,13667.75,13673.00,-0.000238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-22 11:00:00-04:00,15081.75,15181.00,15080.25,15158.50,0.005039,15038.53125,15034.250000,15066.900000,15135.865,15184.7625,15017.154751,19.53125,3.154762,-2.941667,-1.365,-0.2650,3.03125
2023-06-22 12:00:00-04:00,15158.75,15160.00,15110.75,15126.75,-0.002095,15055.28125,15034.142857,15062.875000,15133.350,15184.3250,15019.519751,16.75000,-0.107143,-4.025000,-2.515,-0.4375,2.36500
2023-06-22 13:00:00-04:00,15126.75,15156.00,15082.50,15153.50,0.001768,15071.90625,15039.297619,15059.891667,15131.930,15184.1175,15022.372251,16.62500,5.154762,-2.983333,-1.420,-0.2075,2.85250
2023-06-22 14:00:00-04:00,15153.50,15191.00,15135.50,15189.50,0.002376,15097.71875,15046.511905,15058.575000,15132.770,15184.5075,15025.662251,25.81250,7.214286,-1.316667,0.840,0.3900,3.29000
2023-06-22 15:00:00-04:00,15189.50,15201.75,15148.25,15194.00,0.000296,15122.34375,15054.285714,15058.358333,15133.345,15185.0275,15028.866001,24.62500,7.773810,-0.216667,0.575,0.5200,3.20375

In [21]:
# Calcular ATR
def calculate_atr(high, low, close, atr_period):
    # Calcula el True Range
    true_range = pd.DataFrame(index=close.index)
    true_range['H-L'] = high - low
    true_range['H-PC'] = abs(high - close.shift(1))
    true_range['L-PC'] = abs(low - close.shift(1))

    true_range['TR'] = true_range[['H-L', 'H-PC', 'L-PC']].max(axis=1)

    # Calcula el Average True Range (ATR)
    atr = true_range['TR'].rolling(window=atr_period).mean()

    return atr

# Define el período para el cálculo del ATR
atr_period = 14

# Aplica la función calculate_atr a cada registro del DataFrame 'data'
data['ATR'] = calculate_atr(data['High'], data['Low'], data['Close'], atr_period)

data

,Open,High,Low,Close,Return,MA_8,MA_21,MA_30,MA_50,MA_100,MA_200,Derivada_8,Derivada_21,Derivada_30,Derivada_50,Derivada_100,Derivada_200,ATR
Datetime,,,,,,,,,,,,,,,,,,
2021-02-07 18:00:00-05:00,13623.75,13647.75,13605.25,13639.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 19:00:00-05:00,13638.00,13664.50,13625.50,13656.25,0.001246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 20:00:00-05:00,13656.00,13687.25,13652.75,13679.75,0.001721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 21:00:00-05:00,13679.50,13684.25,13666.75,13676.25,-0.000256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-07 22:00:00-05:00,13676.00,13681.75,13667.75,13673.00,-0.000238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-22 11:00:00-04:00,15081.75,15181.00,15080.25,15158.50,0.005039,15038.53125,15034.250000,15066.900000,15135.865,15184.7625,15017.154751,19.53125,3.154762,-2.941667,-1.365,-0.2650,3.03125,46.821429
2023-06-22 12:00:00-04:00,15158.75,15160.00,15110.75,15126.75,-0.002095,15055.28125,15034.142857,15062.875000,15133.350,15184.3250,15019.519751,16.75000,-0.107143,-4.025000,-2.515,-0.4375,2.36500,48.964286
2023-06-22 13:00:00-04:00,15126.75,15156.00,15082.50,15153.50,0.001768,15071.90625,15039.297619,15059.891667,15131.930,15184.1175,15022.372251,16.62500,5.154762,-2.983333,-1.420,-0.2075,2.85250,53.178571
2023-06-22 14:00:00-04:00,15153.50,15191.00,15135.50,15189.50,0.002376,15097.71875,15046.511905,15058.575000,15132.770,15184.5075,15025.662251,25.81250,7.214286,-1.316667,0.840,0.3900,3.29000,55.821429
2023-06-22 15:00:00-04:00,15189.50,15201.75,15148.25,15194.00,0.000296,15122.34375,15054.285714,15058.358333,15133.345,15185.0275,15028.866001,24.62500,7.773810,-0.216667,0.575,0.5200,3.20375,57.750000